/* Dashboard */
.dashboard {
  padding-top: 20px;
}

.header {
  margin-bottom: 20px;
}

/* Dashboard Cards */
.dashboard .card {
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.dashboard .card-body {
  padding: 20px;
}

.dashboard .card-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.dashboard .card-text {
  font-size: 1rem;
  margin-bottom: 10px;
}


.file-convert-card,
.update-profile-card,
.converted-files-card,
.subscription-management-card {
  margin-bottom: 30px;
}
